body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3a4750;
	background-color: #f3f3f3;
}

.blue {
	color: #1976d2;
}

.darkGray {
	color: #3a4750;
}

.drakBlueGray {
	color: #303841;
}

.lightGray {
	color: #f3f3f3;
}
